:root {
  padding: 0;
  margin: 0;
  font-size: 16px;
  --text1: black;
  --text2: gray;
  --text3: beige;
  --bg1: #d8f5c9; /*teagreen*/
  --bg2: #d8108c; /*violet red*/
  --bg3: #d8c9e6; /* prelude purple */
  --bg4: #f5c9d8; /*azalea*/
  --transition-speed: 600ms;
  --font1: 'Open Sans';
  --font2: 'Permanent Marker';
}

body {
  color: var(--text1);
  background-color: var(--bg1);
  margin: 0;
  padding: 0;
}

main {
  padding: 0;
  text-align: left;
}

ul li {
  list-style: none;
}

/* formating the page sections */
#container {
  width: 100%;
  height: 100vh;
}

#container div {
  height: 100%;
  width: 100%;
  position: relative;
  z-index: 1;
}

#container div h1 {
  position: absolute;
  top: 0%;
  transform: translateY(30%);
  width: 100%;
  margin: 0;
  padding: 0;
  margin-right: 7rem;
  margin-left: 1rem;
}

/* setting background colors for pages */
#container div#landing {
  background: var(--bg1);
}

#container div#about {
  background: var(--bg2);
}

#container div#projects {
  background: var(--bg4);
}

#container div#golf {
  background: var(--bg1);
}

#container div#contact {
  background: var(--bg2);
}

/* landing */
#container div#landing h2 {
  vertical-align: center;
  z-index: 1;
}

#container div#landing h3 {
  vertical-align: center;
  z-index: 1;
}

/* about */
#container div#about h1 {
  color: var(--text3);
  font-size: 3rem;
  font-family: var(--font1);
  margin-left: 0.7rem;
}

#container div#about p1 {
  color: var(--text3);
  font-size: 2rem;
  text-align: left;
  font-family: var(--font1);
  margin-left: 0.7rem;
}

#container div#about p2 {
  color: var(--text1);
  font-size: 2.8rem;
  font-family: var(--font2);
  transform: translateY(-0.4rem);
  margin-left: 0.7rem;
}

#container div#about .content-r img {
  max-width: 360px;
  border: solid;
  height: auto;
  vertical-align: middle;
}

/* projects */
#container div#projects h1 {
  color: purple;
}

#container div#projects p {
  color: var(--text1);
  font-size: 1rem;
  font-family: var(--font1);
  margin-right: 7rem;
}

/* golf */
#container div#golf h1 {
  color: var(--text1);
  font-family: var(--font1);
}

#container div#golf .content-l {
  font-size: 1.3rem;
  vertical-align: center;
}

#container div#golf .content-r {
  vertical-align: center;
  transform: translateY(1.5rem);
}

#container div#golf p {
  color: var(--text1);
  font-family: var(--font1);
  font-size: 1.1rem;
  margin-left: 1rem;
  margin-right: 1.5rem;
}

#container div#golf .img {
  max-width: 450px;
  border: solid;
  height: auto;
  margin-right: 4rem;
}

#container div#golf .btn {
  border: solid var(--text1);
  background-color: #00693e; /* dartmouth green */
  padding: 14px 28px;
  border-radius: 12px;
  font-size: 16px;
  cursor: pointer;
  display: inline-block;
  font-family: var(--text1);
  margin-bottom: 2rem;
}

#container div#golf .btn {
  color: var(--text3);
}

#container div#golf .btn:hover {
  background: var(--text2);
  color: var(--text1);
}

/* contact */
#container div#contact .media-icons {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
}

#container div#contact .media-icons:hover {
  opacity: 0.7;
}

#container div#contact .media-icons .facebook {
  background: #3B5998;
  color: white;

}

#container div#contact .media-icons .email {
  color: white;
  background-color: black;
}

/* other elements of pages */
.content-wrapper {
  position: relative;
  top: 20%;
}

.two-column-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.rd-two-column-wrapper { /* right dominant column wrapper */
  display: grid;
  grid-template-columns: 40% 60%;
}

.github {
  margin-left: 15%;
  position: absolute;
  top: 10%;
}

.github-logo svg {
  width: 15rem;
  margin: 5rem 1.5rem;
}

.github-text {
  font-family: var(--font1);
  font-size: 2.5vh;
  color: var(--text1);
  position: relative;
  max-width: 100px;
  height: auto;
  border: 4px solid var(--bg2);
  margin: 40px auto;
  padding: 20px;
  box-sizing: border-box;
}

.github-text:after {
  position: absolute;
  width: 18px;
  height: 18px;
  border-right: 4px solid var(--bg2);
  border-bottom: 4px solid var(--bg2);
  top: 100%
  left: 50%;
  margin-left: -40px;
  content: '';
  transform: rotate(45deg);
  margin-top: 32px;
  background: var(--bg4);
}

.social-menu ul {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: 0;
  padding: 0;
  transform: translate(-50%, -50%);
  display: flex;
}

.social-menu ul li {
  margin: 0 4rem;
}

.social-menu ul li .fa {
  font-size: 7rem;
  line-height: 11rem;
  transition: var(--transition-speed);
  color: black;
}

.social-menu ul li a {
  position: relative;
  display: block;
  width: 11rem;
  height: 11rem;
  border-radius: 50%;
  background-color: white;
  text-align: center;
  transition: var(--transition-speed);
  box-shadow: 0 0.5rem 0.4rem rgba(0,0,0,.5);
}

.social-menu ul li a:hover {
  transform: translate(0, -20px);
}

.social-menu ul li .fa:hover {
  color: gray;
}

/* navigation bar on top */
.navbar {
  top: 0;
  width: 5rem;
  height: 100vh;
  right: 0px;
  position: fixed;
  background-color: var(--bg3);
  border: solid;
  z-index: 2;
}

.navbar-nav {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nav-item {
  width: 100%;
}

.nav-link {
  display: flex;
  align-items: center;
  height: 5rem;
  color: var(--text1);
  text-decoration: none;
  filter: grayscale(100%) opacity(0.7);
  transition: var(--transition-speed);
}

.nav-link:hover {
  filter: grayscale(0%) opacity(1);
  background: var(--bg2);
  color: var(--bg3);
}

.link-text {
  display: none;
  margin-left: 1rem;
  text-transform: uppercase;
  font-family: var(--font1);
}

.nav-link svg {
  width: 2rem;
  min-width: 2rem;
  margin: 0 1.5rem;
}

.logo {
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 1rem;
  text-align: center;
  color: var(--text2);
  background: var(--bg3);
  font-size: 1.5rem;
  letter-spacing: 0.3ch;
  width: 100%;
}

.logo svg {
  transform: rotate(0deg);
  transition: var(--transition-speed);
}

.logo-text {
  display: inline;
  position: absolute;
  left: -999px;
  transition: var(--transition-speed);
}

.navbar:hover {
  width: 16rem;
}

.navbar:hover .link-text {
  display: block;
}

.navbar:hover .logo svg {
  transform: rotate(-180deg);
}

/* landing page */
.landing-container {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}

.landing-container span {
  display: block;
}

.animatedtext1 {
  font-family: var(--font2);
  top: 50%;
  font-size: 6rem;
  font-weight: 700;
  letter-spacing: 2px;
  background: var(--bg1);
  animation: text 4s 1;
  color: var(--text1);
  z-index: 0;
}

.animatedtext2 {
  font-family: var(--font1);
  font-style: italic;
  font-weight: bold;
  font-size: 30px;
  color: var(--text2);
  z-index: 0;
  animation: fadeInGrow ease 4s;
  -webkit-animation: fadeInGrow ease 4s;
}

@keyframes text {
  0% {
    color: var(--bg1);
  }
  30% {
    letter-spacing: 20px;
  }
  85% {
    letter-spacing: 8px;
  }
}

@keyframes fadeInGrow {
  0% {
    opacity: 0;
    font-size: 0;
  }
  30% {
    font-size: 14px;
  }
  100% {
    opacity:1;
    font-size: 30px;
  }
}
